{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="min-vh-100">
  <div>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" id="favorite" aria-current="page" href="{% url 'favoritos' %}">Mis productos
          favoritos
          <span class="badge text-bg-primary">{{numPublicaciones}}</span></a>
      </li>
    </ul>
  </div>

  <div class="container" method="POST">
    <!--Para mostrar las publicaciones favoritas del usuario-->

    {% for c in publicacion%}
    <div>
      <div class="card mb-3 overflow-hidden flex-md-row d-flex align-items-center">
        <div class="col-lg-4 col-md-12 flex-md-shrink-1 flex-md-grow-1 product-img">
          <img src="{{c.publicacion.path_foto.url}}" class="img-fluid imagen2" />
        </div>
        <div class="col-lg-8 col-md-12 flex-md-shrink-1 flex-md-grow-1">
          <div class="card-body d-flex flex-column">
            <h5>{{c.publicacion.id_producto.nombres|upper}}</h5>
            <p class="card-text">
              {{c.publicacion.descripcion}}
            </p>
            {% if c.publicacion.id_producto.cantidad_disponible > 0%}
            <p>
              <span class="state">Disponible</span>
            </p>
            {% else %}
            <p>
              <span class="notstate">Agotado</span>
            </p>
            {% endif %}
            <div class="row align-items-center">
              <div class="col-12 col-md-6 mb-3">
                <h7 class="card-text" id="precio1">Precio:</h7>
                <h7 class="card-text" id="precio2">${{c.publicacion.id_producto.precio}}</h7>
              </div>
              <div class="col-12 col-md-6">
                <div class="row text-center">
                  <div class="col">
                    <a href="eliminarFavorito/{{c.publicacion.id_publicacion}}"
                      class="btn btn-danger btnEliminacion">Eliminar</a>
                  </div>
                  <p class="card-text text-center">
                    <small class="text-muted">Producto agregado {{c.publicacion.fecha_publicacion}}</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endblock %}